@import '@/variables.scss';

.dashboardAccount {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .secondaryTitle {
    width: 100%;
    margin: 60px auto 70px auto;
    text-align: center;
  }

  .discordCategory {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .infos,
  .ticket,
  .notif {
    max-width: 100%;
    margin: 0px 50px;
  }

  .infos {
    width: 40%;
    margin-bottom: 50px;

    span {
      color: #00a700;
    }
  }

  .ticket {
    width: 250px;
  }

  hr {
    background: $accent-color;
    height: 2px;
    width: 100%;
    border: none;
    margin: 20px 0;
  }

  input:disabled {
    background-color: rgb(230, 230, 230);
  }
}

@media screen and (max-width: 1000px) {
  #dashboardAccount {
    flex-flow: column wrap;
    max-width: 100%;

    .infos,
    .ticket,
    .notif {
      max-width: 100%;
      margin: 0px;
      padding: 50px;
    }

    .infos {
      width: 100%;
      margin-bottom: 50px;

      span {
        color: #00a700;
      }
    }
  }
}
