@import '@/variables.scss';

.counter {
    text-align: center;

    .counterValue {
        font-family: $agenor;
        font-size: 6.875rem;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .counterLabel {
        font-family: $agenor;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}