.counter {
    text-align: center;

    .counter-value {
        font-family: Montserrat;
        font-size: 6.875rem;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .counter-label {
        font-family: Montserrat;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}