.slider{
    width: 100%;
    height: calc(100vh - 100px); // 100px is the height of the header
    overflow: hidden;
    position: relative;
  
    .wrapper {
        height: 100%;
        transition: .5s all linear;
        will-change: transform;
    }
  
    .arrows {
        position: absolute;
        top: 50%;   
        background: none;
        height: 60px;
        border: 0;
        cursor: pointer;
        transition: ease .3s all;
        outline: none;
        transform: translate(0,-50%);
  
        &.prev {
            left: 15px;
    
            &:hover{
                opacity: .7;
                left: 5px;
            }
        }
    
        &.next {
            right: 15px;
    
            &:hover{
                right: 5px;
                opacity: .7;
            }
        }
    }
  
    .dots-container{
        height: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        width: auto;
        text-align: center;
        left: 50%;
        bottom: 9px;
        transform: translateX(-50%);
        z-index: 10;
        list-style-type: none;
  
        li {
            display: inline-block;
            padding: 5px;
    
            &.active{
                span {
                    background-color: #fff;
                }
            }
    
            span {
                width: 10px;
                height: 10px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 50%;
                display: block;
                
                &:hover{
                    text-decoration: none;
                    opacity: .7;
                    cursor: pointer;
                }
            }
        }
    }
    .each-slide {
        width: 100vw;
        height: 100%;
        float: left;
        line-height: 100%;
        font-size: 10vh;
        text-align: center;
        background-size: cover;
        background-position: center center;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }
}