@import '@/variables.scss';

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  .imgContainer {
    width: 150px;
    height: 150px;
    position: relative;
    margin-bottom: 1rem;
    img {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      top: 0;
      left: 0;

      &.defaultImage {
        transform-origin: center;
        object-fit: contain;
        transform: scale(0.8);
        border-radius: initial;
        margin-left: 0.3125rem;
      }
    }

    .imageBackground {
      position: absolute;
      background-color: $secondary-background;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .imageFont {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--team-color);
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: scaleY(102%) translateX(5px);
    }
  }

  span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    font-family: $kanit;
    &.role {
      font-size: 1.2rem;
      font-weight: 400;
      margin-top: 0.3125rem;
    }
  }
}
