@import '@/variables.scss';

.tournamentList {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  aspect-ratio: 5 / 2;  // {1}
  margin: auto;
  position: relative;  // The element needs to be positioned to work in the JS
  justify-content: left;
  z-index: initial;
  overflow-x: scroll;
  overflow-y: clip;
  scrollbar-width: none;

  .cardPositionner {
    position: relative;
    min-width: 45%;  // {2}
    height: 100%;  // {3}

    .card {
      position: absolute;
      background: linear-gradient(0deg, rgba(black, 0.8) 25%, rgba(black, 0) 70%), var(--background) no-repeat;
      background-size: cover;
      width: auto;
      height: 100%;  // {4}
      left: 5%;  // (1 - {5} * {4} * {3} / {1} / {2}) / 2
      aspect-ratio: 1 / 1;  // {5}
      border-radius: 5%;
      z-index: calc(var(--visibility) * 10);
      opacity: var(--visibility);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 41px;
      padding-bottom: 50px;
      gap: 20px;

      .tournamentName {
        width: 80%;
        color: white;
        font-weight: 900;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }
  }
}

.message {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .tournamentList {
    aspect-ratio: 5 / 3;

    .cardPositionner {
      min-width: 65%;

      .card {
        opacity: var(--non-linear-visibility)
      }
    }
  }
}
