@import '@/variables.scss';

.tournamentList {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 80%;

  .arrow {
    cursor: pointer;
  }

  .cards {
    position: relative;  // The element needs to be positioned to work in the JS
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: auto;
    aspect-ratio: 100 / 60;
    z-index: initial;
    overflow-x: scroll;
    overflow-y: clip;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 25%;

    .cardPositionner {
      position: relative;
      width: 0;
      height: 0;

      .card {
        position: absolute;
        background: var(--background) no-repeat;
        background-size: cover;
        width: 20vw;
        aspect-ratio: 1;
        height: auto;
        border-radius: 5%;
        top: 10vw;  // TODO : put a simple - in front. but for some reason doing that breaks JS. WTFFFF
        scale: calc(var(--visibility) * 1.2);
        z-index: calc(var(--visibility) * 10);
        opacity: var(--visibility);

        .tournamentName {
          text-align: center;
          width: 80%;
          margin: 30px auto auto;
          font-size-adjust: 0.5 !important;
          opacity: 1;
          color: $title-color;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }
  }
}

/*@media screen and (max-width: 1024px) {
  .tournamentList {
    width: 100%;
    gap: 0;
    .cards {
      width: 100%;
    }

    .arrow {
      display: none;
    }
  }
}
*/