@import '@/variables.scss';

.dashboardPurchases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;

  .primaryTitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cardCart {
    width: 100%;
    margin: 0 2rem;
    background-color: $secondary-background;
    padding: 1rem;

    &.authorization {
      opacity: 0.7;
    }

    .cart {
      width: 100%;

      .reductedPrice {
        text-decoration: line-through;
        color: $primary-color;
        font-size: 10px;
        vertical-align: super;
      }
    }

    .cartTotal {
      text-align: right;
    }
  }
}
