@import '@/variables.scss';

.aboutContainer {
  padding: 5rem 0;

  .aboutUa,
  .aboutUng {
    width: clamp(300px, 80%, 1920px);
    margin: 10px auto 100px auto;
  }

  .aboutTeam {
    width: clamp(300px, 80%, 1920px);
    margin: auto;

    .title {
      margin-bottom: 3rem;
    }

    .content > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      text-align: center;
      margin-top: 4rem;
    }
  }
}
