.about-container {
  padding: 5rem 0;
  .about-team {
    width: clamp(300px, 80%, 1200px);
    margin: auto;
  }

  // <div className="content">
  //         {Object.keys(team).map((key) => (
  //           <>
  //             {team[key].members.map((member) => (
  //               <div key={member.name} className="member">
  //                 <div className="img-container">
  //                   <img src={member.image} alt={member.name} />
  //                   <div className="image-font"></div>
  //                 </div>
  //                 <span>{member.name}</span>
  //                 <span>{member.job}</span>
  //               </div>
  //             ))}
  //           </>
  //         ))}
  //       </div>
  .about-team {
    margin-bottom: 3rem;
    
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 2rem;
      column-gap: 2rem;
      .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-container {
          width: 150px;
          height: 150px;
          position: relative;
          img {
            z-index: 10;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
          .image-font {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--team-color);
            border-radius: 50%;
            transition: all 0.3s ease;
            transform: scaleY(102%) translateX(5px);
          }
        }
        span {
          margin-top: 1rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: #fff;
          font-family: $lexend;
        }
      }
    }

  }
}
