#dashboard-shop {
  .shop-and-bill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;

    .shop-section {
      margin-bottom: 40px;
      max-width: 50vw;
    }

    .title {
      margin: 20px 0 0 0;
    }

    .place-title {
      margin-bottom: 20px;
    }

    .bill {
      box-sizing: border-box;
      padding: 10px;
      height: fit-content;
      width: 30%;
      border-radius: 2px;
      background-color: #fbfbfb;
      padding: 10px 30px;

      .shop-footer {
        text-align: right;
        margin-top: 38px;

        .cgvCheckbox {
          display: block ruby;
        }

        .shop-button.buttonWrapper {
          margin-left: 16px;
        }
      }
    }
  }

  .attendant-warning {
    margin-bottom: 10px;

    span {
      color: #d10000;
    }
  }

  .item-preview-modal-container {
    width: max-content;
    max-width: calc(100vw - 60px);
  }

  .item-preview-image {
    max-width: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  #dashboard-shop .shop-and-bill {
    flex-direction: column;
    .bill {
      width: 100%;
    }
    .shop-section {
      max-width: unset;
    }
  }
}
