@import '@/variables.scss';

.dashboardShop {
  padding: 50px;

  .primaryTitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem !important;
  }

  .secondaryTitle {
    width: 100%;
    margin: 60px auto 70px auto;
  }

  .shopAndBill {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    align-items: stretch;

    .shop {
      width: 60%;
      display: block;
      flex-grow: 1;

      .shopSection {
        margin-bottom: 40px;

        .buttonRow {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }

      .title {
        margin: 20px 0 0 0;
      }

      .placeTitle {
        margin-bottom: 20px;
      }
    }

    .billWrapper {
      margin: 40px auto 50px auto;
      width: 40%;
      flex-grow: 1;

      .bill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 90px;
        background-color: $secondary-background;
        padding: 1.25rem;
        border-radius: 0.5rem;

        .shopFooter {
          text-align: right;
          margin-top: 2rem;
          bottom: 0;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .cgv {
            text-align: left;
            margin-top: 1rem;

            .darkBackground {
              color: $primary-color;
            }

            > label {
              gap: 0.75rem;
            }
          }
        }
      }
    }
  }

  .itemPreviewModalContainer {
    width: max-content;
    max-width: calc(100vw - 60px);
  }

  .shareModalContainer {
    width: max-content;
    max-width: calc(100vw - 60px);
  }

  .itemPreviewImage {
    max-width: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .dashboardShop {
    padding: 10px;
    .shopAndBill {
      flex-flow: column wrap;
      max-width: 100%;

      .billWrapper {
        width: 100%;
      }
      .shop {
        width: 100%;
      }
      .bill {
        width: 100%;
      }
      .shopSection {
        max-width: unset;
      }
    }
  }
}
