#admin-users {
  .filters {
    background: #eeeeee;
    padding: 20px;
    margin-bottom: 25px;
    border: 2px solid $primary-color;
    border-radius: 4px;

    hr {
      background: $primary-color !important;
    }
  }

  .info-to-display {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }

  .users-table {
    width: 100%;
    margin: 20px 0;

    tbody tr:hover {
      background-color: #cccccc;
      cursor: pointer;
    }

    tr > .table-column-lockedLabel,
    tr > .table-column-paidLabel,
    tr > .table-column-scannedLabel,
    tr > .table-column-permissionsLabel,
    tr > .table-column-place {
      text-align: center;
    }
  }

  .pointer {
    cursor: pointer;
  }

  hr {
    background: $gradient;
    height: 2px;
    width: 100%;
    border: none;
    margin: 20px 0;
  }

  .table-footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    * {
      padding: 0 12px;
    }
  }
}
