#dashboard-purchases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card-cart {
    width: 100%;

    .cart {
      width: 100%;
    }

    .cart-total {
      text-align: right;
    }
  }
}