#dashboard-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  /* Stepper */
  .steps {
    overflow: hidden;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    counter-reset: step;
    padding: 0;

    li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      width: 33.33%;
      float: left;
      position: relative;
    }

    li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3px;
      margin: 0 auto 5px auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li:after {
      content: '';
      width: calc(100% - 20px);
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      margin-left: 10px;
      top: 9px;
    }

    li:first-child:after {
      /*connector not needed before the first step*/
      content: none; 
    }

    li.active:before, li.active:after{
      background: $secondary-color;
      color: white;
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
    div {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      display: flex;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 3px solid white;
      cursor: pointer;
    }

    div:hover {
      border: 3px solid $secondary-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  #dashboard-register {
    .team-tournament > div,
    .join-solo > div {
      width: 100%;
    }

    .team-tournament {
      display: block;
      border: none;
      padding-bottom: 0px;
      margin-bottom: 0px;

      .create-team,
      .join-team {
        border-bottom: 2px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
    }

    .join-solo .create-solo-team {
      border-bottom: 2px solid #ccc;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }

    .select {
      max-width: none;
    }

    .center-mobile {
      margin: 0 auto;
      display: block;

      &.buttonWrapper {
        margin: 0 auto;
        display: table;
      }
    }
  }
}
