#dashboard-shop {
  .shop-section {
    margin-bottom: 40px;
  }

  .title {
    margin: 20px 0 0 0;
  }

  .shop-table {
    width: 100%;
    margin-bottom: 20px;

    tbody tr {
      height: 64px;
    }

    td:first-child {
      min-width: 300px;
    }
  }

  .delete-button {
    color: #333;
  }

  .item-preview-button {
    font-size: 0.9em;
    padding: 0;
    margin: 0 0 0 8px;
    color: $primary-color;
  }

  .item-description {
    font-size: 0.9em;
    margin-top: 6px;
    color: #555555;
  }

  .shop-input {
    width: 100px;
    margin: 0;
  }

  .shop-footer {
    text-align: right;

    .shop-button.buttonWrapper {
      margin-left: 16px;
    }
  }

  .add-place-input {
    margin-bottom: 20px;
  }

  .scoup {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;

    max-width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    border: solid #c8c8c8 1px;
    border-radius: 16px;

    & > img {
      height: 60px;
      border-radius: 15px;
    }

    & > p {
      flex: 1 1 500px;
      margin: 0;
      text-align: center;
    }
  }

  .item-preview-modal-container {
    width: max-content;
    max-width: calc(100vw - 60px);
  }

  .item-preview-image {
    max-width: 1000px;
    width: 100%;
  }

  .cgvCheckbox {
    display: block ruby;
  }

  .attendant-warning {
    margin-bottom: 10px;
  }
}
