#dashboard-shop {
  .shop-and-bill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .shop-section {
      margin-bottom: 40px;
    }

    .title {
      margin: 20px 0 0 0;
    }

    .place-title {
      margin-bottom: 20px;
    }

    .scoup {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      position: relative;

      max-width: 100%;
      margin: 0 auto;
      padding: 10px 15px;
      border: solid #c8c8c8 1px;
      border-radius: 16px;

      & > img {
        height: 60px;
        border-radius: 15px;
      }

      & > p {
        flex: 1 1 500px;
        margin: 0;
        text-align: center;
      }
    }

    .bill {
      border: 1px solid;
      padding: 10px;
      height: fit-content;
      width: 30%;

      .shop-footer {
        text-align: right;
        margin-top: 38px;

        .cgvCheckbox {
          display: block ruby;
        }

        .shop-button.buttonWrapper {
          margin-left: 16px;
        }
      }
    }
  }

  .attendant-warning {
    margin-bottom: 10px;
  }

  .item-preview-modal-container {
    width: max-content;
    max-width: calc(100vw - 60px);
  }

  .item-preview-image {
    max-width: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  #dashboard-shop {
    flex-direction: column;
    .bill {
      width: 100%;
    }
  }
}
