#dashboard-team {
  .table-players {
    width: 100%;
    margin-bottom: 30px;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .header-info {
      text-align: left;
      margin-bottom: 20px;

      > div {
        margin-bottom: 10px;
      }
    }
  }

  .refresh {
    cursor: pointer;
    font-size: 24px;
  }

  .players-list {
    padding: 16px 0;
  }

  .team-matches {
    display: flex;
    flex-wrap: wrap;
  }

  .team-match {
    width: calc(25% - 20px);
    margin: 16px 10px;
    text-align: left;

    .opponent {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
    }

    .divider {
      padding: 0;
      border: none;
      height: 2px;
      background: $light-color;
    }

    .win {
      font-weight: 900;
      color: #00a700;
    }

    .loss {
      font-weight: 900;
      color: #d10000;
    }

    .circle {
      border-radius: 50%;
      width: 22px;
      height: 22px;
      background: #333;
      color: #fff;
      text-align: center;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .match-note {
      word-wrap: break-word;
    }
  }

  .info {
    border: 2px solid $accent-color;
    padding: 8px 16px;
    margin: 32px 0;
  }

  hr {
    background: $accent-color;
    height: 2px;
    width: 100%;
    border: none;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1300px) {
  #dashboard-team .team-match {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 1100px) {
  #dashboard-team .team-match {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  #dashboard-team .team-match {
    width: 100%;
  }
}
