@import '@/variables.scss';

.legal {
  .container {
    width: clamp(350px, 80%, 1920px);
    margin: 0 auto;
    padding: 4rem 0;
    color: #fff;

    .articleTitle {
      margin: 30px 0 20px 0;
      font-family: $lexend;
    }

    .subArticleTitle {
      margin: 26px 0 0 0;
    }
  }
}
