@import '@/variables.scss';

.dashboardTeam {
  padding: 50px;
  margin: auto;
  width: clamp(300px, 100%, 1200px);

  .titleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      white-space: nowrap;
      width: 50%;
      justify-content: flex-end;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    .headerInfo {
      text-align: left;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      .singleInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        height: 24px;

        span {
          display: flex;
          align-items: center;

          svg {
            margin-right: 3px;
          }
        }
      }
    }
  }

  .primaryTitle {
    margin: 0;
  }

  .refresh {
    cursor: pointer;
  }

  .descriptionValue {
    color: $primary-color;
    display: flex;
  }

  .teamCompleted {
    color: greenyellow;
  }

  .iconCaution {
    color: yellow;
  }

  .iconInQueue {
    color: lightgreen;
  }

  .iconTick {
    color: green;
  }

  .iconCross {
    color: red;
  }

  .crown {
    fill: #ffd700;
    stroke: black;
    stroke-width: 1px;
  }

  .playersList {
    padding: 16px 0;
  }

  .info {
    border: 2px solid $accent-color;
    padding: 8px 16px;
    margin: 32px 0;
  }

  hr {
    background: $accent-color;
    height: 2px;
    width: 100%;
    border: none;
    margin: 20px 0;
  }

  .members .table {
    min-width: 100%;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;

    tr td button {
      white-space: nowrap;
    }
  }

  .buttonRow {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .dashboardTeam {
    padding: 20px;
  }
}
