#tournament-information {

  position: relative;
  background: linear-gradient(180deg, rgba($primary-background, 1) 0%, rgba(#94DCF2, 0.2) 100%), var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  //height: 100%;
  z-index: 0;

  .background {
    // This is only a container to hold the background images, but it is not actually useful
    height: 0;

    img {
      position: absolute;
      z-index: -1;
      opacity: 20%;

      &.constellation-1-1 {
        left: 40%;
        top: 27px;
        width: 113px;
        transform: rotate(-90deg);
      }

      &.cloud-3 {
        left: 70%;
        width: 776px;
      }

      &.constellation-2-1 {
        left: 24px;
        top: 25%;
        width: 188px;
        transform: rotate(-45deg);
      }

      &.constellation-2-2 {
        left: 45%;
        top: 28%;
        width: 284px;
      }

      &.constellation-3-1 {
        left: 3%;
        top: 55%;
        width: 218px;
        transform: rotate(-80deg);
      }

      &.constellation-1-2 {
        left: 78%;
        top: 45%;
        width: 385px;
        transform: rotate(-30deg);
      }

      &.constellation-1-3 {
        width: 707px;
        top: 250%;
        transform: rotate(-30deg);
      }

      &.constellation-3-2 {
        left: 85%;
        top: 300%;
        width: 218px;
      }
    }
  }

  .tournament-name {
    background-image: url("../../../../public/images/logo-notext.png");
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: 50px 62px;
    padding: 130px 0 50px 130px;
  }

  .information {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 70%;
    height: 13rem;
    margin: 0 auto;

    .box-container {
      width: 30%;
      height: 10rem;

      &.on-top {
        align-self: start;
      }

      // Where the content is contained in the BoxContainer
      .box-content {
        display: block;
        padding: 15px 16px;
        line-height: 1.4rem;
      }
    }
  }

  .enrolled-teams {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 35px;
  }

  .filling-bar {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 113px;
  }
}

@media screen and (max-width: 1024px) {
  #tournament-information {
    .information {
      flex-direction: column;
      align-items: center;
      height: fit-content;

      .box-container {
        margin-top: 10px;
        width: 50%;
        &.on-top {
          align-self: center;
        }
      }
    }
  }
}
