.cardtournaments .tournaments-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardtournaments .tournament {
  width: 45%;
}

.cardtournaments .tournament .right-arrow {
  margin-left: 8px;
}

@media screen and (max-width: 1200px) {
  .cardtournaments .tournament {
    width: 100%;
  }
}