.cookie-consent {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 400px;
  padding: 20px;
  color: #fff;
  font-size: 0.9em;
  background: #2b2b2b;
  box-shadow: 0 0 4px #000;
  z-index: 1;
}

.cookie-consent a {
  color: #fff;
}

.cookie-consent .cookie-consent-button {
  display: block;
  margin-top: 10px;
  font-size: 0.875em;
}

@media screen and (max-width: 650px) {
  .cookie-consent {
    width: calc(100% - 20px);
    padding: 10px;
    right: 0;
    bottom: 0;
  }
}