#header {
  background: url('/static/background.png') center no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header .home-title {
  margin: 1em auto;
  padding: 1.5em;
  background-color: var(--dark-color);
  transform: skew(15deg);
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
}

#header .home-title p {
  font-family: 'Preussische', sans-serif;
  text-align: center;
  color: white;
  transform: skew(-15deg);
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

#header .home-title .main {
  font-size: 3rem;
}

@media screen and (max-width: 650px) {
  #header {
    height: 15vh;
  }

  #header .home-title {
    background: none;
    transform: none;
    margin: 0;
    padding: 0;
  }

  #header .home-title p {
    font-size: 1rem;
    transform: skew(0deg);
  }

  #header .home-title .main {
    font-size: 1.5rem;
  }
}