.tournament .tournament-header {
  object-fit: cover;
  height: 40vh;
  width: 100%;
  margin-bottom: 1em;
}

.tournament .tournament-content {
  padding: 0 5em;
}

.tournament .tournament-signin {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tournament .title-2 {
  color: var(--accent-color);
}

.tournament .tournament-section {
  margin: 20px 0 40px;
}

.tournament .tournament-format {
  font-weight: bold;
  margin-bottom: 20px;
}

.tournament .table-tournament {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .tournament .tournament-header {
    height: 20vh;
  }

  .tournament .tournament-header .tournament-logo {
    max-width: 100%;
  }

  .tournament .tournament-content {
    padding: 0 1em;
  }

  .tournament .table-tournament {
    width: 100%;
  }
}