.tournament-cards .tournaments-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tournament-cards .tournament-card {
  width: 45%;
}

.tournament-cards .tournament-card .card-image {
  background: rgba(255, 255, 255, 0.2);
}

.tournament-cards .tournament-card .right-arrow {
  margin-left: 8px;
}

.tournament-cards .tournament-card .button {
  margin: 10px 0 10px 0;
}

.tournament-cards .tournament-card .tournament-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  color: var(--primary-color);
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 1200px) {
  .tournament-cards .tournament-card {
    width: 100%;
  }
}