.tournament .tournament-header {
  object-fit: cover;
  height: 40vh;
  width: 100%;
  margin-bottom: 1em;
}

.tournament .tournament-content {
  padding: 0 5em;
}

.tournament .tournament-content .tournament-signin {
  display: flex;
  justify-content: center;
}

.tournament .tournament-content .tournament-rules {
  margin-bottom: 1em;
}

@media screen and (max-width: 650px) {
  .tournament .tournament-header {
    height: 20vh;
  }

  .tournament .tournament-header .tournament-logo {
    max-width: 100%;
  }

  .tournament .tournament-content {
    padding: 0 1em;
  }
}