.tournaments {

  .top-container {
    background-color: $primary-background;
    padding: 100px 0 100px 0;

    .top {
      width: 65%;
      margin: 0 auto;

      .text {
        font-size: 1.25rem;
        text-align: center;
        font-weight: 500;
        width: 80%;
        margin: 0 auto;
        color: $blue-color;
      }

      .buttons {
        display: flex;
        justify-content: center;
        column-gap: 92px;
        padding: 50px 0;

        .button {
          //flex-grow: 1;
          width: 328px;
          height: 66px
        }
      }
    }
  }

  .tournaments-content {
    min-height: 1000px;
    background-size: cover;
    background-position: 50% 50%;
    transition: background 0.25s ease-in-out;
    position: relative;
    background: linear-gradient(180deg, rgba($primary-background, 1) 0%, rgba(#94DCF2, 0.1) 100%), var(--background-image);
    background-repeat: no-repeat;
    z-index: 0;

    .background {
      // This is only a container to hold the background images, but it is not actually useful
      height: 0;

      img {
        position: absolute;
        z-index: -1;
        opacity: 20%;

        &.constellation-1-1 {
          left: 40%;
          top: 27px;
          width: 113px;
          transform: rotate(-90deg);
        }

        &.cloud-3 {
          left: 70%;
          width: 776px;
        }

        &.constellation-2-1 {
          left: 24px;
          top: 25%;
          width: 188px;
          transform: rotate(-45deg);
        }

        &.constellation-2-2 {
          left: 45%;
          top: 28%;
          width: 284px;
        }

        &.constellation-3-1 {
          left: 3%;
          top: 55%;
          width: 218px;
          transform: rotate(-80deg);
        }

        &.constellation-1-2 {
          left: 78%;
          top: 45%;
          width: 385px;
          transform: rotate(-30deg);
        }

        &.constellation-1-3 {
          width: 707px;
          top: 25%;
          transform: rotate(-30deg);
        }

        &.constellation-3-2 {
          left: 85%;
          top: 30%;
          width: 218px;
        }
      }
    }

    .page-title {
      display: flex;
      align-items: center;
      justify-items: center;
      margin-bottom: 124px;
      margin-left: 0;
      margin-right: 0;

      .divider:nth-of-type(1) {
        margin-left: 68px;
      }

      .divider:nth-of-type(2) {
        margin-right: 68px;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      transition: background 0.25s ease-in-out;

      .tournaments-list {
        width: 20%;
        margin-left: 5%;
        //aspect-ratio: 1/3;

        .tournament {
          margin: 20px 0 20px 0;
          display: block;
          border-radius: 16px;
          padding: 4px;
          aspect-ratio: 7/3;
          object-fit: cover;
          transition: margin 0.25s ease-in-out;

          &:hover {
            cursor: pointer;
          }

          &.selected {
            margin-left: 30%;
            border: 4px solid $title-color;
            padding: 0;

            &:hover {
              cursor: default;
            }
          }
        }
      }

      .tournament-info {
        text-align: right;
        margin-right: 15%;
        color: white;
        font-size: 2.25em;
        font-weight: bold;
        line-height: 3.5rem;

        h2 {
          color: $title-color;
          font-size: 3rem;
          font-weight: 800;
        }

        .button {
          margin-top: 30px;
          width: 30rem;
        }
      }
    }
  }

  .partners {
    padding-top: 113px;
  }
}

@media screen and (max-width: 1024px) {
  .tournaments {

    .top-container {
      .top {
        width: 80%;

        .text {
          width: 100%;
        }

        .buttons {
          flex-direction: column;
          row-gap: 20px;
          padding: 20px 0;

          .button {
            width: 100%;
          }
        }
      }
    }

    .tournaments-part {
      .content {
        flex-direction: column;

        .tournaments-list {
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px;

          .tournament {
            margin: 0;
          }
        }

        .tournament-info {
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }
}