.tournaments {

  .top-container {
    background-color: $primary-background;
    padding: 100px 0 100px 0;

    .top {
      width: 65%;
      margin: 0 auto;
  
      .text {
        font-size: 1.25rem;
        text-align: center;
        font-weight: 500;
        width: 80%;
        margin: 0 auto;
        color: $blue-color;
      }
  
      .buttons {
        display: flex;
        justify-content: center;
        column-gap: 92px;
        padding: 50px 0;
  
        .button {
          //flex-grow: 1;
          width: 328px;
          height: 66px
        }
      }
    }
  }

  .tournaments-part {

    .content {
      display: flex;
      justify-content: space-between;
      transition: background 0.25s ease-in-out;

      .tournaments-list {

        width: 20%;
        margin-left: 5%;

        .tournament {
          margin: 20px 0 20px 0;
          display: block;
          border-radius: 16px;
          padding: 4px;
          transition: margin 0.25s ease-in-out;

          &:hover {
            cursor: pointer;
          }

          &.selected {
            margin-left: 30%;
            border: 4px solid $title-color;
            padding: 0;

            &:hover {
              cursor: default;
            }
          }
        }
      }

      .tournament-info {
        flex-grow: 1;
        text-align: right;
        margin-right: 15%;
        color: white;
        font-size: 2.25em;
        font-weight: bold;

        h2 {
          color: $title-color;
          font-size: 3rem;
          font-weight: 800;
        }

      }
    }
  }
}