.input,
.select,
.textarea {
	display: block;
  position: relative;
  margin: 14px 0;
  width: 100%;
}

.input label,
.select label,
.textarea label {
  display: block;
  padding-bottom: 2px;
  color: #858585;
  user-select: none;
}

.input input,
.select select,
.textarea textarea {
  width: calc(100% - 16px);
	border: none;
	border-radius: 0;
	padding: 8px;
	background: #fff;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

.select select {
  width: 100%;
}

.textarea textarea {
  resize: vertical;
  height: 100px;
  min-height: 50px;
}

.input .line,
.select .line,
.textarea .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c8c8c8;
}

.input .line::after,
.select .line::after,
.textarea .line::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--gradient);
  opacity: 0;
  transition: all .3s;
}

.input input:focus + .line::after,
.select select:focus + .line::after,
.textarea textarea:focus + .line::after {
  opacity: 1;
}