.modal:not(.active) {
  display: none;
}

.modal .modal-overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  z-index: 1;
}

.modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.7);
}

.modal .modal-container {
  display: table;
  position: relative;
  margin: 80px auto 40px auto;
  width: 400px;
  max-width: 100vw;
  background: #f5f5f5;
  box-shadow: 0 3px 10px #2e2e2e;
  z-index: 1;
}

.modal .modal-container::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--gradient);
}

.modal .modal-content {
  padding: 0 20px 20px 20px;
}

.modal .modal-title {
  text-align: center;
  font-family: 'Preussische', sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  margin: 20px 40px 30px 40px;
}

.modal .modal-close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal .modal-close-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #aaa;
  height: 2px;
  width: 22px;
}

.modal .modal-close-button span:nth-child(1) {
  transform: translate(-50%) rotate(45deg);
}

.modal .modal-close-button span:nth-child(2) {
  transform: translate(-50%) rotate(-45deg);
}

.modal .modal-buttons {
  margin: 0 20px 14px 0;
  text-align: right;
}

@media screen and (max-width: 450px) {
  .modal .modal-container {
    width: calc(100vw - 50px);
  }
}