.radio .radio-label {
  padding-bottom: 2px;
  color: #858585;
  user-select: none;
}

.radio .radio-container {
  display: flex;
  flex-flow: column wrap;
}

.radio.row .radio-container {
  flex-direction: row;
}

.radio.row label {
  margin-right: 10px;
}

.radio input[type=radio] {
  display: none;
}

.radio input + .radio-value {
  display: inline-block;
  position: relative;
  color: transparent;
  text-align: center;
  height: 18px;
  width: 18px;
  line-height: 18px;
  font-size: 14px;
  margin: 5px 5px 0 0;
  z-index: 0;
}

.radio input:checked + .radio-value {
  color: #fff;
}

.radio input + .radio-value::before {
  content: '';
  position: absolute;
  top: -0.5px;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  background: #cbcbcb;
  opacity: 1;
  z-index: -1;
}

.radio input:checked + .radio-value::before {
  background: var(--gradient);
}