.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.table .divider {
  height: 2px;
  background: linear-gradient(to right, var(--primary-color) 15%, var(--secondary-color) 85%);
}

.table thead tr th {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5em 0.25em;
  text-align: left;
}

.table tbody tr td {
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  padding: 0.5em 0.25em;
}