.table-container {
  overflow-x: auto;
}

.table {
  display: table;
  table-layout: auto;
  border-collapse: collapse;
  margin-bottom: 1em;
  text-align: left;
  margin: auto;
}

.table th {
  font-size: 1.125rem;
  font-weight: 600;
  padding: .5em;
}

.table .table-divider {
  padding: 0;
  border: none;
  height: 2px;
  background: var(--gradient);
}

.table td {
  border-bottom: 1px solid #c8c8c8;
  padding: .5em;
}

.table td.align-right {
  text-align: right;
}

.table tbody td.table-void {
  text-align: center;
  color: #818181;
  padding: 1em 0;
}