.title {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.title.gutterBottom {
  margin-bottom: 1em;
}

.title.center {
  text-align: center;
}

.title.inherit {
  text-align: inherit;
}

.title.left {
  text-align: left;
}

.title.right {
  text-align: right;
}

.title.justify {
  text-align: justify;
}

.title.uppercase {
  text-transform: uppercase;
}

.title.title-1 {
  overflow: hidden;
  color: var(--accent-color);
  position: relative;
}

.title.title-1 .title-content {
  display: inline-block;
  position: relative;
  background: #f5f5f5;
  padding: 0 20px;
}

.title.title-1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background: var(--gradient);
}

.title.title-2 {
  font-weight: 400;
  font-size: 2rem;
}

.title.title-3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.title.title-4 {
  font-weight: 600;
  font-size: 1.25rem
}