.title {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.title.gutterBottom {
  margin-bottom: 1em;
}

.title.center {
  text-align: center;
}

.title.inherit {
  text-align: inherit;
}

.title.left {
  text-align: left;
}

.title.right {
  text-align: right;
}

.title.justify {
  text-align: justify;
}

.title.uppercase {
  text-transform: uppercase;
}

.title.title-1 {
  overflow: hidden;
  color: #e20007;
}

.title.title-1::before,
.title.title-1::after {
  background: var(--gradient);
  content: '';
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 45%;
}

.title.title-1::before {
  right: 0.5em;
  margin-left: -50%;
}

.title.title-1::after {
  left: 0.5em;
  margin-right: -50%;
}

.title.title-2 {
  font-weight: 400;
  font-size: 2rem;
}

.title.title-3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.title.title-4 {
  font-weight: 600;
  font-size: 1.25rem
}