#home {
  .home-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('/background.png') no-repeat center;
    background-size: cover;
    margin-bottom: 3em;

    #logo {
      max-height: 50%;
      max-width: 75%;
      margin: 0 auto;
      min-width: 45%;
    }

    .home-title {
      margin: 1em auto;
      padding: 1.5em;
      background-color: $dark-color;
      transform: skew(15deg);
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
      width: 50%;

      p {
        font-family: $ua-font;
        text-align: center;
        color: #fff;
        transform: skew(-15deg);
        margin: 0;
        font-size: calc(0.029 * (100vw - 280px));
        letter-spacing: 1px;
      }

      .main {
        font-size: calc(0.065 * (100vw - 280px));
        text-transform: uppercase;
      }
    }
  }

  .home-countdown {
    max-width: 1000px;
    margin: 0 auto 3em auto;
  }

  .home-info {
    margin-bottom: 3em;
    text-align: center;

    .video-container {
      max-width: 700px;
      margin: 40px auto 30px auto;
      background: #dadada;
    }

    .info-table {
      max-width: 900px;
      margin: auto;
    }

    .info-button {
      display: inline-block;
      margin: 30px auto 0 auto;
    }
  }

  .home-tournaments {
    margin-bottom: 3em;
  }

  .home-partners {
    margin-bottom: 3em;

    .list-partners {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .partner {
    width: 150px;
    padding: 0 8px;
    transition: all 0.3s;

    &:hover,
    &:focus {
      filter: brightness(0.9);
    }

    .partner-img {
      height: 92px;
      width: calc(100% - 8px);
      margin: 4px;
      object-fit: contain;
    }
  }

  .home-partners .partners-button {
    display: block;
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  #home .home-header {
    height: calc(100vh - 60px);

    .home-title {
      margin: 1em 0;
      padding: 1.5em 0;
      background-color: $dark-color;
      transform: skew(0deg);
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
      width: 100vw;

      p {
        transform: skew(0deg);
        font-size: 5.5vw;
      }

      .main {
        font-size: 12vw;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #home .home-container .tournament {
    width: 100%;
  }
}
