#home {
  .home-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('/background.jpg') no-repeat center;
    background-size: cover;
    gap: 2em;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 2em;

    &:before {
      content: '';
      background: $gradient;
      opacity: 0.8;
      height: 100vh;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }

    #logo {
      max-height: 40%;
      max-width: 75%;
      min-width: 45%;
      z-index: 1;
      text-align: center;
    }

    .home-title {
      padding: 1.5em;
      background-color: $dark-color;
      transform: skew(15deg);
      max-width: 900px;
      width: 80%;

      p {
        font-family: $ua-font;
        text-align: center;
        color: white;
        transform: skew(-15deg);
        margin: 0;
        font-size: 3em;

        span.date {
          color: $superposed-color !important;
        }
      }

      .main {
        font-size: 5em;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }

    .social {
      display: flex;
      padding: 0 1em;
      flex-flow: row wrap;
      position: absolute;
      font-size: 1.5em;
      gap: 1em;
      bottom: 1em;
      left: 0;
      z-index: 1;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;

      a > i {
        color: white;
        transition: color 200ms ease-in-out;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #home .home-header {
    .home-title {
      padding: 1.5em 0;
      background-color: $dark-color;
      transform: skew(0deg);
      width: 100vw;

      p {
        transform: skew(0deg);
        font-size: min(2.5em, 5.5vw);
      }

      .main {
        font-size: min(4em, 12vw);
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #home .home-container .tournament {
    width: 100%;
  }
}
