#information {
  .information-section {
    margin-bottom: 3em;
  }

  table {
    margin: 0 auto;

    tr {
      background: #eee;

      &:nth-child(2n) {
        background: #ddd;
      }

      &.accent-line {
        font-weight: bold;
        background: $accent-color;
        color: #f5f5f5;
      }
    }

    td {
      padding: 10px;
    }
  }

  .access {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    > div {
      width: calc(50% - 20px);

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  #information .access {
    flex-flow: column nowrap;

    > div {
      width: 100%;
    }
  }
}
