#partners {
  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;

    .partner {
      width: 400px;
      margin: 16px 10px;
    }
  }

  .partner ul {
    text-align: left;
  }

  .partner-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  .partner .partner-img {
    height: 264px;
    object-fit: contain;
  }

  .right-arrow {
    margin-left: 8px;
  }

  .button {
    margin: 10px 0 10px 0;
  }
}
