@import '@/variables.scss';

#notFound {
  height: 80vh;
  background-color: $primary-background;
  color: white;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    // margin-top: 100px;
    // margin-bottom: 40px;

    span {
      color: gray;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;

    a {
      width: 47%;

      button {
        width: 100%;
        height: 66px;
      }
    }
  }
}

// show message only on hover
.grass {
  all : unset;
  color: transparent;
  transition: color 0.3s;
  font-size: 11px;
}
.grass:hover {
  color: #567d46;
}