@import '@/variables.scss';

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;

  .parallax {
    z-index: 1;
    opacity: 0.2;

    .parallaxCloud1 {
      right: 12%;
      top: 80%;
      width: 400px;
    }

    .parallaxCloud2 {
      left: 40%;
      top: 90%;
      width: 400px;
    }

    .parallaxCloud2Light {
      right: 25%;
      top: 110%;
      width: 300px;
    }

    .parallaxCloud3 {
      right: 5%;
      top: 190%;
      width: 400px;
      overflow-y: hidden;
    }

    .parallaxCloud3Light {
      left: 10%;
      top: 190%;
      width: 400px;
      overflow-y: hidden;
    }

    .parallaxMoon {
      top: 45%;
      left: 5%;
    }
  }

  .slider {
    z-index: 2;

    .homeHeader {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url('/images/background.jpg') no-repeat center;
      background-size: cover;
      position: relative;

      &:before {
        content: '';
        background: $gradient;
        opacity: 0.8;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      .logo {
        max-height: 40%;
        max-width: 60%;
        margin: 0 auto;
        min-width: 45%;
        z-index: 1;
      }

      .homeTitle {
        margin: 3rem auto;
        padding: 0.75rem;
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
        width: 50%;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          left: 0;
          top: 42px;
          bottom: 0;
          background-color: $dark-color;
          z-index: 0;
        }

        & > * {
          position: relative;
          font-family: $montserrat;
          text-align: center;
          color: #fff;
          margin: 0;
          font-size: 2.5rem;
          font-weight: 600;
          z-index: 1;

          .accent {
            color: $accent-color;
          }
        }

        .main {
          font-size: 6rem;
          font-weight: 800;
          text-transform: uppercase;

          .stroke {
            -webkit-text-stroke-color: $dark-color;
          }
        }
      }

      .content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        .title {
          font-size: 4rem;
        }
        button {
          font-size: 2rem;
        }
      }
    }
  }

  .ctaMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    width: clamp(300px, 60%, 1920px);
    z-index: 2;

    .ctaMainSubtitle {
      font-family: $lexend;
      text-transform: uppercase;
      color: $accent-color;
      font-size: 2.125rem;
      font-style: normal;
      font-weight: 10000;
    }

  }

  .dataFlexing {
    width: 100%;
    z-index: 2;

    .boxContainer {
      margin: auto;

      .sideCounter {
        flex: 1;
      }

      .middleCounter {
        flex: 2;
      }
    }
  }

  .information {
    width: clamp(300px, 80%, 1920px);
    z-index: 2;

    .moreInfo {
      margin-top: 3.5rem;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      .moreInfoContainer {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-family: $montserrat;
        font-size: 1.75rem;
        font-weight: 600;
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }

  .tournaments {
    display: flex;
    width: 100%;
    padding-left: 70px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba($primary-background, 1) 40%, rgba($primary-background, 0) 50%);
      z-index: 0;
      pointer-events: none;
    }

    .text {
      min-width: 35%;
      max-width: 35%;
      z-index: 3;
      padding: 50px 0px 30px 0;

      .textContent {
        color: #fff;
        font-family: $montserrat;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }

    .list {
      z-index: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .dataFlexing {
    .divider {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home {
    .slider {
      .videoContainer {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .slider {
      .homeHeader {
        .homeTitle {
          margin: 2rem auto;
          transform: skew(0deg);
          width: 75%;

          .main {
            font-size: 4rem;
          }

          p {
            font-size: 1.75rem;
          }
        }
      }
    }

    .information {
      .moreInfo {
        flex-direction: column;
        height: 96px;
        margin-top: 3rem;

        .moreInfoContainer {
          height: 40%;
        }
      }
    }

    .tournaments {
      flex-direction: column;
      width: max(300px, 80%);
      padding: 0;

      .text {
        min-width: unset;
        max-width: unset;
      }

      &:after {
        background: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    .slider {
      .homeHeader {
        .homeTitle {
          width: 90%;
          p.main {
            transform: none;
          }
        }

        .content {
          .title {
            font-size: 2.75rem;
          }
          button {
            font-size: 1.5rem;
          }
        }
      }
    }
    .information {
      .moreInfo {
        height: auto;
        margin-top: 2rem;
        .moreInfoContainer {
          height: auto;
          flex-direction: column;

          svg {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}
