.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;

  .slider {
    .home-header {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url('/images/background.jpg') no-repeat center;
      background-size: cover;
      position: relative;

      &:before {
        content: '';
        background: $gradient;
        opacity: 0.8;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }

      #logo {
        max-height: 40%;
        max-width: 60%;
        margin: 0 auto;
        min-width: 45%;
        z-index: 1;
      }

      .home-title {
        margin: 3rem auto;
        padding: 0.75rem;
        background-color: $dark-color;
        transform: skew(15deg);
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));
        width: 50%;

        .main {
          font-size: 6rem;
          font-weight: 800;
          text-transform: uppercase;
        }

        p {
          font-family: $montserrat;
          text-align: center;
          color: #fff;
          transform: skew(-15deg);
          margin: 0;
          font-size: 2.5rem;
          font-weight: 600;

          .accent {
            color: $accent-color;
          }
        }
      }
    }
  }
}

.cta-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  width: clamp(300px, 60%, 1920px);

  .cta-main-title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    @include stroke(6, #000);
    font-family: $lexend;
    text-transform: uppercase;
  }

  .cta-main-subtitle {
    color: $accent-color;
    font-family: $lexend;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
  }
}

.information {
  width: clamp(300px, 80%, 1920px);

  .more-info {
    margin-top: 3.5rem;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: $secondary-color;
    .more-info-container{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-family: $montserrat;
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1024px) {
  #home {
    .slider {
      .home-header {
        .home-title {
          margin: 2rem auto;
          transform: skew(0deg);
          width: 75%;

          .main {
            font-size: 4rem;
          }

          p {
            font-size: 1.75rem;
          }
        }
      }
    }

    .information {
      .more-info {
        flex-direction: column;
        height: 96px;
        margin-top: 3rem;

        .more-info-container {
          height: 40%;
        }
      }
    }
  }
}