.reset-password-modal {
  .new-password-modal-button.buttonWrapper {
    display: table;
    margin: auto;
  }
}

.confirm-register-modal {
  .confirm-register-modal-button.buttonWrapper {
    display: table;
    margin: auto;
  }
}
