.cookie-consent {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 400px;
  padding: 20px;
  color: #fff;
  font-size: 0.9em;
  background: #2b2b2b;
  box-shadow: 0 0 4px #000;
  z-index: 999999;
  box-sizing: border-box;

  a {
    color: #fff;
  }

  .button-row {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding-top: 15px;
  }

  .buttonWrapper {
    margin: 0 !important;
  }

  .cookie-button {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 650px) {
  .cookie-consent {
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 350px) {
  .cookie-button {
    width: 100%;
  }
}
