footer {
  background-color: $secondary-background;

  img {
    height: 139px;
  }

  h3 {
    color: $primary-color;
    font-size: 1.25em;
    font-weight: bold;
  }

  a {
    display: block;
    .button {
      padding-left: 0;
    }
  }

  .row {
    display: flex;
    height: 250px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 60px 0 60px;
  }

  .copyright {
    text-align: center;
    padding-bottom: 20px;
    
    > button {
      padding-top: 0;
      color: white !important;
    }
  }

  .middle {
    display: block;

    > button {
      padding-left: 0;
      color: white !important;
    }
  }

  .right {
    padding-right: 30px;
  }

  .socials {
    display: flex;
    gap: 0.375rem;
    margin-top: 8px;

    a {
      width: 24px;
      height: 24px;
      padding: 2px;
      color: #8C979B;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: white;
      }

      svg {
        margin-right: 12px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  footer {
    .row {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: auto;
      padding: 40px 30px;
    }

    .middle {
      text-align: center;
      margin-top: 30px;
      width: 100%;
    }

    .right {
      text-align: center;
      margin-top: 10px;
      padding-right: 0;
      width: 100%;

      .socials {
        gap: 1.5rem;
        justify-content: center;

        a {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}