footer {
  display: flex;
  height: 237px;
  background-color: $secondary-background;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 60px;

  img {
    height: 139px;
  }

  h3 {
    color: $primary-color;
    font-size: 1.25em;
    font-weight: bold;
  }

  a {
    display: block;
    .button {
      padding-left: 0;
    }
  }

  .middle {
    display: block;
  }

  .right {
    padding-right: 30px;
  }

  .socials {
    display: block;
    height: 20px;
    color: white;
    margin-top: 8px;

    svg {
      margin-right: 12px;
    }
  }
}