header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 103px;
  background-color: $secondary-background;
  align-items: center;
  padding: 0 30px 0 30px;

  .left {
    display: flex;
    gap: 30px;

    img {
      width: 66px;
    }

    nav {
      align-self: center;
      vertical-align: middle;
    }
  }

  .right {
    display: inline-block;
  }

}
