#header {
  background: url('/assets/background.png') center no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .home-title {
    margin: 1em auto;
    padding: 1.5em;
    background-color: $dark-color;
    transform: skew(15deg);
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));

    p {
      font-family: $ua-font;
      text-align: center;
      color: white;
      transform: skew(-15deg);
      margin: 0;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    .main {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 650px) {
  #header {
    height: 15vh;

    .home-title {
      background: none;
      transform: none;
      margin: 0;
      padding: 0;

      p {
        font-size: 1rem;
        transform: skew(0deg);
      }

      .main {
        font-size: 1.5rem;
      }
    }
  }
}
