.login-modal {
  a {
    text-decoration: underline;
    cursor: pointer;
  }

  .login-modal-button.buttonWrapper,
  .signup-modal-button.buttonWrapper,
  .forgot-modal-button.buttonWrapper {
    display: table;
    margin: auto;
  }

  .footer-text {
    margin-top: 20px;
  }
}
