.login-modal {
  a {
    text-decoration: underline;
    cursor: pointer;
  }

  .login-modal-button,
  .signup-modal-button {
    display: block;
    margin: auto;
    width: 100%;
  }

  .footer-text {
    margin-top: 20px;
  }
}
