#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: $dark-color;
  overflow: hidden;
  z-index: 1;

  .navbar-hamburger,
  .mobile-link {
    display: none;
  }

  .desktop-link {
    display: block;
    margin: auto;
    width: min-content;
  }

  .desktop-logo {
    width: 140px;
    height: 140px;
    margin: 20px 0 30px 0;
    background: url('/logo.png') no-repeat center;
    background-size: 140px;
  }

  .navbar-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 90px);
  }

  .simplebar-scrollbar::before {
    background: #8d8d8d;
  }

  .logged {
    display: flex;
    flex-direction: column;
  }

  .logged-info {
    color: #ffffff;
    margin: 8px auto;
    min-width: 188px;
    display: flex;
    justify-content: space-between;
  }

  .logged-username {
    text-overflow: ellipsis;
    max-width: 94px;
    white-space: nowrap;
    overflow: hidden;
  }

  .logged .logout {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }

  .dashboard-button {
    display: block;
    width: min-content;
    margin: 0 auto 20px;
    padding: 10px 36px;
    font-family: $ua-font;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  /*.login-button {
    &.buttonWrapper {
      display: block;
      width: min-content;
      padding: 10px 36px;
      font-family: $ua-font;
      font-size: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: transparent;
    }

    &.topButtonDiv {
      box-shadow: $accent-color 4 * $buttonLength 4 * $buttonLength;
    }

    &:hover {
      & .topButtonDiv {
        // transform: translate(0, 0);
        box-shadow: none;

        & .bottomButtonDiv {
          transform: translate(0, 0);
          padding: 0;

          & .button {
            transform: translate(0, 0);
            padding: 10 + $buttonLength 22 + $buttonLength;
            margin: 0;
            border-radius: $buttonRadius;
          }
        }
      }
    }
  }*/

  .navbar-container a {
    text-decoration: none;
  }

  .nav-button {
    position: relative;
    width: calc(100% - 60px);
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #ffffff1a;
      z-index: -1;
      transition: all 0.3s;
    }

    &.active::before {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -10px;
      width: 0;
      height: 3px;
      border-bottom: dotted $accent-color 5px;
      transition: all 0.3s;
    }

    &.active::after {
      left: 0;
      width: 100%;
    }
  }

  a:hover .nav-button::before {
    width: 100%;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 260px;
    height: 62px;
    padding: 16px 10px 12px 10px;
    background: #323232;
  }

  .social-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 260px;
    margin: auto;

    a {
      font-size: 26px;
      color: #fff;
      transition: all 0.2s;
    }

    i {
      width: 40px;
      text-align: center;
    }

    .facebook-link:hover {
      color: #1278f3;
    }

    .twitter-link:hover {
      color: #1da1f2;
    }

    .instagram-link:hover {
      color: #c13584;
    }

    .discord-link:hover {
      color: #7289da;
    }

    .youtube-link:hover {
      color: #ff0000;
    }

    .twitch-link:hover {
      color: #6441a5;
    }
  }

  footer .footer-text {
    width: 260px;
    margin: 12px auto 0 auto;
    font-size: 12px;
    text-align: center;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all 0.3s;

      &:hover,
      &:focus {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #navbar {
    width: 100%;
    height: 60px;
    z-index: 1;
    transition: all 0.1s;

    &.active {
      height: 100vh;
      transition: all 0.3s;
    }

    .navbar-hamburger {
      display: block;
      position: relative;
      width: 72px;
      height: 60px;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;

      span {
        position: absolute;
        left: 20px;
        width: 32px;
        height: 4px;
        background: #fff;
        transition: all 0.3s;

        &:nth-child(1) {
          top: 17px;
        }

        &:nth-child(2) {
          top: 27px;
        }

        &:nth-child(3) {
          top: 37px;
        }
      }
    }

    &.active .navbar-hamburger span {
      &:nth-child(1) {
        top: 27px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-52px);
        opacity: 0;
      }

      &:nth-child(3) {
        top: 27px;
        transform: rotate(-45deg);
      }
    }

    .mobile-link {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 60px;
      height: 60px;
    }

    .mobile-logo {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url('/logo.png') no-repeat center;
      background-size: 52px;
    }

    .desktop-logo {
      display: none;
    }

    .navbar-container {
      position: absolute;
      top: 60px;
      height: calc(100vh - 150px);
      width: 100%;
      border-top: 2px solid transparent;
      transition: all 0.3s;
    }

    &.active .navbar-container {
      border-top: 2px solid #3a3a3a;
    }

    &:not(.active) .navbar-container {
      overflow: hidden;
    }

    .login-button {
      &.buttonWrapper {
        margin: 20px auto;
      }

      &.topButtonDiv {
        box-shadow: $accent-color 4 * $buttonLength 4 * $buttonLength;
      }
    }

    footer {
      width: calc(100% - 20px);
      position: fixed;
      bottom: 0;
      transform: translateY(100%);
      transition: all 0.1s;
    }

    &.active footer {
      box-shadow: 0 0 12px 0 #000;
      transform: none;
      transition: all 0.3s;
    }
  }
}
