#panel-header {
  .header {
    background: url('/background.jpg') center no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:before {
      content: '';
      background: $gradient;
      opacity: 0.8;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }

    .home-title {
      margin: 1em auto;
      padding: 1.5em;
      background-color: $dark-color;
      transform: skew(15deg);
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.2));

      p {
        font-family: $ua-font;
        text-align: center;
        color: white;
        transform: skew(-15deg);
        margin: 0;
        font-size: 3rem;
        letter-spacing: 1px;
      }
    }
  }

  .nav {
    background: $dark-color;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;

    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      min-width: max-content;
      max-width: 160px;
      padding: 0 20px;
      background: transparent;
      transition: all 0.3s;

      &:hover,
      &.active {
        background: #fff1;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: $accent-color;
        opacity: 0;
        transition: all 0.3s;
      }

      &.active::after {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #panel-header .header {
    height: 15vh;

    .home-title {
      background: none;
      transform: none;
      margin: 0;
      padding: 0;

      p {
        font-size: 1.5rem;
        transform: skew(0deg);
      }
    }
  }
}
