.partners {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px 146px;
  margin: 0 15%;
  padding-bottom: 4rem;
  align-items: center;

  img {
    height: 60px;
    object-fit: contain;

    // That's not clean
    // But I don't care
    // Nah
    &.nrj {
      height: unset;
      width: 100px;
    }
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: stretch;
  }
}

@media screen and (max-width: 700px) {
  .partners {
    margin: 0 10%;
    padding-bottom: 4rem;
    flex-direction: column;

    img {
      width: 200px;
      height: auto;
    }

  }
}