.tournament-cards {
  .tournaments-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .tournament-card {
    width: 45%;

    .card-image {
      background: rgba(255, 255, 255, 0.2);
    }

    .right-arrow {
      margin-left: 8px;
    }

    .card-button {
      margin: 10px 0 10px 0;

      .button {
        margin: 0;
      }
    }

    .tournament-name {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.6em;
      text-align: center;
      color: $light-color-alt;
      text-transform: uppercase;
      margin: 20px 0 10px 0;

      &::first-letter {
        font-size: 1.3em;
      }
    }

    .tournament-details {
      display: flex;
      justify-content: space-evenly;
    }

    .tournament-details p {
      font-size: 1.2em;
      margin: 20px 10px 10px 10px;
      text-transform: uppercase;
      font-style: italic;

      &::first-letter {
        font-size: 1.3em;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tournament-cards .tournament-card {
    width: 100%;
  }
}

@media screen and (max-width: 1550px) {
  .tournament-details {
    flex-direction: column;
  }
  .tournament-details p {
    text-align: center;
  }
}
