.tournament {
  .tournament-header {
    object-fit: cover;
    height: 40vh;
    width: 100%;
    margin-bottom: 1em;
  }

  .tournament-content {
    padding: 0 5em 2em 5em;
  }

  .tournament-signin {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title-2 {
    color: $accent-color;
  }

  .tournament-section {
    margin: 20px 0 40px;
  }

  .tournament-format {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .table-tournament {
    width: 75%;
    margin: 0 auto;
  }

  ul.rewards li {
    &:nth-child(1)::before {
      background-image: linear-gradient(75deg, #ffd700, #fff);
      background-clip: text;
      color: transparent !important;
      -webkit-text-stroke: 1px #dcb900;
      content: '\f091';
    }
    &:nth-child(2)::before {
      background-image: linear-gradient(75deg, #c0c0c0, #fff);
      background-clip: text;
      color: transparent !important;
      -webkit-text-stroke: 1px #909090;
      content: '\f091';
    }
    &:nth-child(3)::before {
      background-image: linear-gradient(75deg, #f19721, #fff);
      background-clip: text;
      color: transparent !important;
      -webkit-text-stroke: 1px #c17224;
      content: '\f091';
    }
    &:nth-child(4)::before {
      background-image: linear-gradient(75deg, $accent-color, #fff);
      background-clip: text;
      color: transparent !important;
      -webkit-text-stroke: 1px #5a3e79;
      content: '\f091';
    }
    &::before {
      content: '\f06b';
      left: -25px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 650px) {
  .tournament {
    .tournament-header {
      height: 20vh;

      .tournament-logo {
        max-width: 100%;
      }
    }

    .tournament-content {
      padding: 0 1em 1em 1em;
    }

    .table-tournament {
      width: 100%;
    }
  }
}
