.tournament-cards {
  .tournaments-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    .tournament-card {
      width: 45%;
      flex: 0 1 500px;
      margin: 0;

      .card-image {
        background: rgba(255, 255, 255, 0.2);
      }

      .right-arrow {
        margin-left: 8px;
      }

      .card-button {
        margin: 10px 0 10px 0;

        .button {
          margin: 0;
        }
      }

      .tournament-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.6em;
        text-align: center;
        color: $light-color-alt;
        text-transform: uppercase;
        margin: 20px 0 10px 0;

        &.smaller {
          font-size: 1.3em;
        }

        &::first-letter {
          font-size: 1.3em;
        }
      }

      .tournament-details {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: nowrap;

        &:nth-child(2) {
          margin-bottom: 10px;
        }

        p {
          font-size: 1.2em;
          text-transform: uppercase;
          font-style: italic;
          margin: 0;
          transform: scaleY(1.2);
          text-align: center;

          .unit {
            font-size: 0.9em;
          }

          &::first-letter {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tournament-cards .tournament-card {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .tournament-details {
    flex-direction: column;
  }
}
