.tournament {
  .tournament-header {
    object-fit: cover;
    height: 40vh;
    width: 100%;
    margin-bottom: 1em;
  }

  .tournament-content {
    padding: 0 5em 2em 5em;
  }

  .tournament-signin {
    a {
      cursor: pointer;
    }

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title-2 {
    color: $accent-color;
  }

  .tournament-section {
    margin: 20px 0 40px;
  }

  .tournament-format {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .table-tournament {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .tournament {
    .tournament-header {
      height: 20vh;

      .tournament-logo {
        max-width: 100%;
      }
    }

    .tournament-content {
      padding: 0 1em 1em 1em;
    }

    .table-tournament {
      width: 100%;
    }
  }
}
