@import '@/variables';

.page {
  padding: 5vh 0;

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

    // Slide 1
    & {
      .fileUpload {
        width: 70%;
        margin: auto;
      }

      .warning {
        &.hidden {
          display: none;
        }
      }
    }

    // Slide 2
    & {
      .cropImageSlideContainer {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-evenly;
        align-items: center;

        .cropImageContainer {
          border: 5px solid #002d40;
          padding: 20px;
          width: 20%;
          -webkit-border-radius: 18px;
          -moz-border-radius: 18px;
          border-radius: 18px;

          .backgroundColorSelect {
            display: flex;
            gap: 10px;
            margin-top: 30px;

            .color {
              border: 2px solid black;
              height: 20px;
              width: 20px;
              cursor: pointer;

              &.whiteColor {
                background-color: white;
              }

              &.blueColor {
                background-color: $secondary-background
              }
            }
          }

        }

        .badgePreview {
          position: relative;
          margin: 1em;

          .background {
            height: 50vh;
            border-radius: 30px;
            -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.091);
            box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.27);
          }

          .imageWrapper {
            overflow: hidden;
            position: absolute;
            top: 7vh;
            left: 7vh;
            width: 20vh;
            aspect-ratio: 1;
            border-radius: 100%;

            .image {
              position: relative;
              aspect-ratio: 1;
              width: 100%;
            }
          }
        }
      }
      .changePreviewRole {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 6rem;
        width: 100%;
        font-weight: 800;
        font-size: 1.25rem;
        text-align: center;

        .changePreviewRoleArrows {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          margin-top: 20px;

          svg {
            cursor: pointer;

            &.disabled {
              cursor: initial;
              pointer-events: none;
              opacity: 0.5;
            }
          }
        }
      }
    }

    // Slide 3
    & {
      gap: 40px;

      .pseudoCheckbox {
        margin-left: 30px;
        &.hide {
          display: none;
        }
      }
    }

    .arrows {
      width: 100px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 5vh;

      svg {
        cursor: pointer;

        &.invisible {
          visibility: hidden;
        }

        &.disabled {
          cursor: initial;
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    .content {
      .cropImageSlideContainer {
        flex-direction: column;
        width: 100%;

        .cropImageContainer {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
