/****************/
/***** Misc *****/
/****************/

@font-face {
  font-family: 'LemonMilk';
  src: url('/static/LemonMilk.otf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('/static/Montserrat-Regular.ttf');
}

:root {
  --primary-color: #fb560c;
  --secondary-color: #e21562;
  --dark-color: #202020;
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  color: #212121;
  text-align: justify;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.text-centered {
  text-align: center;
}

.centered {
  display: block;
  margin: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

/**********************/
/** _app.js specific **/
/**********************/

.page-container {
  position: absolute;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: whitesmoke;
}

@media screen and (max-width: 1000px) {
  .page-container {
    top: 60px;
    left: 0;
    width: calc(100%);
  }
}