/****************/
/***** Misc *****/
/****************/

@font-face {
  font-family: 'LemonMilk';
    src: url('/static/LemonMilk.otf');
}

:root {
  --primary-color: #fb560c;
  --secondary-color: #e21562;
  --dark-color: #202020;
  --gradient: linear-gradient(135deg, var(--primary-color) 15%, var(--secondary-color) 85%);
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.text-centered {
  text-align: center;
}

.centered {
  display: block;
  margin: auto;
  width: min-content;
}

/**********************/
/** _app.js specific **/
/**********************/

.page-container {
  position: absolute;
  margin: 2em;
  top: 0;
  left: 280px;
  width: calc(100% - 280px - 4em);
  height: min-content;
}

@media screen and (max-width: 1200px) {
  .page-container {
    top: 60px;
    left: 0;
    width: calc(100% - 4em);
  }
}