#home .home-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/static/background.png') no-repeat center;
  background-size: cover;
  margin-bottom: 3em;
}

#home .home-header #logo {
  max-height: 50%;
  max-width: 75%;
  margin: 0 auto;
}

#home .home-header .home-title {
  margin: 1em auto;
  padding: 1.5em;
  background-color: var(--dark-color);
  transform: skew(15deg);
  filter: drop-shadow(0 0 .75rem rgba(255, 255, 255, 0.2));
  width: 50%;
}

#home .home-header .home-title p {
  font-family: 'Preussische', sans-serif;
  text-align: center;
  color: #fff;
  transform: skew(-15deg);
  margin: 0;
  font-size: calc(0.029 * (100vw - 280px));
  letter-spacing: 1px;
}

#home .home-header .home-title .main {
  font-size: calc(0.065 * (100vw - 280px));
  text-transform: uppercase;
}

#home .home-countdown {
  max-width: 1000px;
  margin: 0 auto 3em auto;
}

#home .home-info {
  margin-bottom: 3em;
}

#home .home-info .video-container {
  max-width: 700px;
  margin: 40px auto 30px auto;
  background: #dadada;
}

#home .home-info .info-table {
  max-width: 900px;
  margin: auto;
}

#home .home-info .info-button {
  display: block;
  margin: 30px auto 0 auto;
}

#home .home-tournaments {
  margin-bottom: 3em;
}

#home .home-partners {
  margin-bottom: 3em;
}

#home .home-partners .list-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#home .partner {
  width: 150px;
  padding: 0 8px;
  transition: all .3s;
}

#home .partner:hover,
#home .partner:focus {
  filter: brightness(0.9);
}

#home .partner .partner-img {
  height: 100px;
}

#home .home-partners .partners-button {
  display: block;
  margin: 30px auto 0 auto;
}

@media screen and (max-width: 1000px) {
  #home .home-header {
    height: calc(100vh - 60px);
  }

  #home .home-header .home-title {
    margin: 1em 0;
    padding: 1.5em 0;
    background-color: var(--dark-color);
    transform: skew(0deg);
    filter: drop-shadow(0 0 0.75rem rgba(255,255,255,0.2));
    width: 100vw;
  }

  #home .home-header .home-title p {
    transform: skew(0deg);
    font-size: 5.5vw;
  }

  #home .home-header .home-title .main {
    font-size: 12vw;
  }
}

@media screen and (max-width: 650px) {
  #home .home-container .tournament {
    width: 100%;
  }
}