#home .margin-bottom {
  margin-bottom: 3em;
}

#home .padding {
  padding: 0 5em;
}

#home .home-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/static/uabackground.jpg') no-repeat center;
  background-size: cover;
}

#home .home-header #logo {
  max-height: 50%;
  max-width: 75%;
  margin: 0 auto;
}

#home .home-header .home-title {
  margin: 1em auto;
  padding: 1.5em;
  background-color: var(--dark-color);
  transform: skew(15deg);
  filter: drop-shadow(0 0 0.75rem rgba(255,255,255,0.2));
  width: 50%;
}

#home .home-header .home-title p {
  font-family: 'LemonMilk';
  text-align: center;
  color: white;
  transform:skew(-15deg);
  margin: 0;
  font-size: calc(0.029 * (100vw - 280px));
  letter-spacing: 1px;
}

#home .home-header .home-title .main {
  font-size: calc(0.065 * (100vw - 280px));
}

#home .home-toornament .list-toornaments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home .home-toornament .list-toornaments .toornament {
  width: 45%;
}

@media screen and (max-width: 1000px) {
  #home .home-header {
    height: calc(100vh - 60px);
  }

  #home .home-header .home-title {
    margin: 1em 0;
    padding: 1.5em 0;
    background-color: var(--dark-color);
    transform: skew(0deg);
    filter: drop-shadow(0 0 0.75rem rgba(255,255,255,0.2));
    width: 100vw;
  }

  #home .home-header .home-title p {
    transform: skew(0deg);
    font-size: 5.5vw;
  }

  #home .home-header .home-title .main {
    font-size: 12vw;
  }
}

@media screen and (max-width: 650px) {
  #home .home-toornament .list-toornaments .toornament {
    width: 100%;
  }
  #home .padding {
    padding: 0 1em;
  }
}