#home .margin-bottom {
  margin-bottom: 3em;
}

#home .padding {
  padding: 0 5em;
}

#home .home-header {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/static/uabackground.jpg') no-repeat center;
  background-size: cover;
}

#home .home-header .home-logo {
  width: 256px;
  height: 256px;
  margin: 20px auto;
  background: url('/static/logo-256-notext.png') no-repeat center;
  background-size: 256px;
}

#home .home-toornament .list-toornaments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home .home-toornament .list-toornaments .toornament {
  width: 45%;
}

@media screen and (max-width: 1000px) {
  #home .home-header {
    height: calc(100vh - 60px);
  }
}

@media screen and (max-width: 650px) {
  #home .home-toornament .list-toornaments .toornament {
    width: 100%;
  }
  #home .padding {
    padding: 0 2em;
  }
}