#information .information-section {
  margin-bottom: 3em;
}

#information .timetable thead th,
#information .timetable tbody td:not(:first-child) {
  padding: .5em 1.2em;
}

#information .timetable tbody td:not(:first-child) {
  text-align: center;
}

#information .access {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#information .access > div {
  width: calc(50% - 20px);
}

#information .access > div:first-child {
  margin-bottom: 20px;
}

@media screen and (max-width: 780px) {
  #information .access {
    flex-flow: column nowrap;
  }

  #information .access > div {
    width: 100%;
  }
}