#partners .partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#partners .partners-list .partner {
  width: 400px;
  margin: 16px 10px;
}

#partners .partner ul {
  text-align: left;
}

#partners .partner-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

#partners .partner .partner-img {
  height: 264px;
}

#partners .right-arrow {
  margin-left: 8px;
}

#partners .button {
  margin: 10px 0 10px 0;
}