@import '@/variables.scss';

.cart {
  .cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    svg {
      color: $primary-color;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: red;
      }
    }
  }

  .mainTitle{
    font-family: $agenor;
    text-transform: uppercase;
    overflow: hidden;
    color: white;
    position: relative;
    font-size: 2.125rem;
    text-align: center;
    margin: 0;
  }

  .emptyCart {
    text-align: center;
  }
}
