.scanner {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-height: 70vh;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#qr-scanner video {
  object-fit: cover !important;
  object-position: center !important;
  width: 100% !important;
  height: 100% !important;
  display: block;
}

#qr-scanner .qr-code-region {
  border: 3px solid #fff !important;
  width: 50% !important; /* responsive */
  aspect-ratio: 1 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  pointer-events: none !important;
  box-sizing: border-box !important;
}

#qr-scanner .qr-code-full-region {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}
