@import '@/variables.scss';

.supplementList {
  .secondaryTitle {
    width: 100%;
    margin: 60px auto 70px auto !important;
  }

  .shopTable {
    width: 100%;
    margin-bottom: 20px;

    tbody tr {
      height: 64px;
    }

    td {
      &:first-child {
        min-width: 300px;
      }

      .itemPresentation {
        .itemPreviewButton {
          font-size: 0.9em;
          padding: 0;
          //color: $primary-color;
        }

        .itemDescription {
          font-size: 0.9em;
          margin-top: 6px;
          color: #555555;
        }
      }

      .shopInput {
        width: 100px;
        margin: 0;
      }
    }
  }
}
