.userModal {
    width: 500px !important;

    .cart-refused,
    .cart-canceled,
    .cart-refunded,
    .cart-pending {
      opacity: 0.6;
    }

    .cart-refused,
    .cart-canceled,
    .cart-refunded {
      background: repeating-linear-gradient(45deg, $light-color, $light-color 10px, transparent 10px, transparent 20px);
    }

    .cartItems > li {
      margin-bottom: 10px;
    }

    .linkToSeller {
      cursor: pointer;
    }

    em.default {
      opacity: 0.5;
      user-select: none;
    }

    .row {
      margin: 14px 0;
      box-sizing: border-box;
    }

    .row > .key {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .row > .checkboxContainer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 10px;
    }
  }