#event-page {
  margin-bottom: 10rem;

  .title-1 {
    text-align: center;
    margin-top: 6rem;
  }

  .title-2 {
    width: 90%;
    margin: 100px auto 70px auto;
  }

  .text-and-image {
    display: flex;
    overflow: hidden;
    background-color: $light-blue;
    color: #002d40;
    margin-top: 5rem;

    &.image-left {
      margin-left: 85px;
      border-radius: 1.25rem 0 0 1.25rem;
    }

    &.image-right {
      margin-right: 85px;
      border-radius: 0 1.25rem 1.25rem 0;
    }

    .text {
      margin: 3.125rem 4.375rem;
      font-size: 1.5rem;
      line-height: 140%;
    }
  }

  .program {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 46px;
    margin-top: 58px;

    .box-container {
      width: fit-content;
    }
  }

  .place {
    display: flex;
    align-items: center;
    margin: 100px 90px 0 48px;
    gap: 70px;

    iframe {
      height: auto;
      width: 60%;
      min-width: 600px;
      border-radius: 30px;
      aspect-ratio: 3 / 2;
    }

    .text {
      width: max-content;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .steps {
    list-style-type: none;
    counter-reset: step-counter;

    li {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 50px;
    }

    li:before {
      content: counter(step-counter);
      display: flex;
      justify-content: center;
      align-items: center;
      counter-increment: step-counter;
      width: 90px;
      height: 90px;
      flex-shrink: 0; // Prevents it from shrinking do to the <li> being flex
      margin-right: 50px;
      font-size: 3.75rem;
      font-weight: 800;
      text-align: center;
      background-color: $light-blue;
      border-radius: 100%;
      @include stroke(6, #000);
    }
  }
}

@media screen and (max-width: 1024px) {
  #event-page {
    .text-and-image {
      flex-direction: column;
      gap: 1.5rem;

      .text {
        margin: 1rem 5%;
        font-size: 1.25rem;
      }

      &.image-left {
        margin: 1rem 5%;
        border-radius: 1.25rem;
      }

      &.image-right {
        margin: 1rem 5%;
        border-radius: 1.25rem;
      }

      img {
        order: -1;
      }
    }

    .program {
      flex-direction: column;
      gap: 1.5rem;

      .box-container {
        width: 100%;
      }
    }

    .place {
      flex-direction: column;
      margin: 50px auto 0 auto;
      gap: 1.875rem;
      width: 90%;

      iframe {
        width: 100%;
        min-width: 0;
      }

      .text {
        order: -1;
        line-height: 100%;
        width: 100%;
      }
    }

    .steps {
      padding: 0;
      text-align: center;
      margin: 0 3%;

      li {
        flex-direction: column;
      }

      li:before {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    table {
      margin: 0 3%;
    }
  }
}
