@import '@/variables.scss';

.eventPage {
  margin-bottom: 10rem;

  .elementWithRef {
    scroll-margin-top: 80px;
  }

  .primaryTitle {
    text-align: center;
    margin-top: 6rem;
  }

  .secondaryTitle {
    width: 90%;
    margin: 100px auto 70px auto;
  }

  .avenir {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin: 100px auto 70px auto;
  }

  .textAndImage {
    display: flex;
    overflow: hidden;
    background-color: $light-color;
    color: #002d40;
    height: max-content;
    max-height: max-content;
    max-height: 300px;
    margin: 5rem 85px 0 85px;
    border-radius: 1.25rem;

    img {
      aspect-ratio: 1 / 1;
      width: 30%;
      object-fit: cover;
      max-height: 350px;
      margin: auto 0 auto 0;
      border-radius: 1.25rem;
    }

    .text {
      margin: 3.125rem 2.375rem;
      font-size: 1.1rem;
      place-self: center;
      width: 90%;
      line-height: 1.5;
    }
  }

  .program {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 46px;
    margin-top: 58px;

    .boxContainer {
      width: 20%;

      .boxContainerContent {
        height: 100%;
        padding: 10px;
        gap: 0;

        table {
          margin: 0;

          tr {
            td {
              vertical-align: top;

              &:first-child {
                white-space: nowrap;
                border-style: solid;
                border-color: transparent;
                border-width: 0 1rem 0 0;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .place {
    display: flex;
    align-items: center;
    margin: 100px 90px 0 48px;
    gap: 70px;

    iframe {
      height: auto;
      width: 70%;
      min-width: 600px;
      border-radius: 30px;
      aspect-ratio: 7 / 4;
    }

    .text {
      width: max-content;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .steps {
    list-style-type: none;
    counter-reset: step-counter;
    margin: 1rem 4rem;
    padding: 0 2rem;

    li {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 50px;
    }

    .counter,
    .counterStroke {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      flex-shrink: 0; // Prevents it from shrinking do to the <li> being flex
      margin-right: 50px;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
      background-color: $light-color;
      border-radius: 100%;
    }
  }

  .informationTable {
    width: 80%;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 1048px) {
  .eventPage {
    .textAndImage {
      flex-direction: column;
      gap: 1.5rem;
      max-height: unset;
      margin: 2rem 5%;
      border-radius: 1.25rem;

      .text {
        margin: 1rem 5%;
      }

      img {
        order: -1;
        width: 100%;
      }
    }

    .program {
      flex-direction: column;
      gap: 1.5rem;

      .boxContainer {
        width: 100%;
      }
    }

    .place {
      flex-direction: column;
      margin: 50px auto 0 auto;
      gap: 1.875rem;
      width: 90%;

      iframe {
        width: 100%;
        min-width: 0;
      }

      .text {
        order: -1;
        line-height: 100%;
        width: 100%;
      }

      .text {
        text-align: center;
      }
    }

    .steps {
      padding: 0;
      text-align: center;
      margin: 0 3%;

      li {
        flex-direction: column;

        .counter {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .informationTable {
      margin: 1rem 3%;
      width: 94%;
    }
  }
}
