#dashboard-account {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

#dashboard-account .infos,
#dashboard-account .ticket {
  max-width: 100%;
  margin: 20px;
}

#dashboard-account .infos {
  width: 400px;
  margin-bottom: 30px;
}

#dashboard-account .ticket {
  width: 250px;
}