#dashboard-purchases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#dashboard-purchases .card-cart {
  width: 45%;
}

#dashboard-purchases .cart-total {
  text-align: right;
}
#dashboard-purchases .purchase-title {
  margin: 16px;
}

@media screen and (max-width: 1000px) {
  #dashboard-purchases .card-cart {
    width: 100%;
  }
}