#dashboard-register .table-join {
  width: 100%;
}

#dashboard-register .pointer {
  cursor: pointer;
}

#dashboard-register .team-tournament {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#dashboard-register .team-tournament>div {
  width: 45%;
}

#dashboard-register .center {
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1000px) {
  #dashboard-register .team-tournament>div {
    width: 100%;
  }
}
