#dashboard-team .table-players {
  width: 100%;
  margin-bottom: 30px;
}

#dashboard-team .header {
  text-align: left;
}

#dashboard-team .header > p {
  margin-top: 0;
}

#dashboard-team .players-list {
  padding: 16px 0;
}

#dashboard-team .gold-icon {
  color: #ffae00;
}

#dashboard-team .green-icon {
  color: #00a700;
}

#dashboard-team .red-icon {
  color: #d10000;
}