#dashboard-team .table-players {
  width: 100%;
  margin-bottom: 30px;
}

#dashboard-team .header {
  text-align: left;
  margin-bottom: 20px;
}

#dashboard-team .header > div {
  margin-bottom: 10px;
}

#dashboard-team .players-list {
  padding: 16px 0;
}

#dashboard-team .team-matches {
  display: flex;
  flex-wrap: wrap;
}

#dashboard-team .team-match {
  width: 22%;
  margin: 16px 1.5%;
}

#dashboard-team .team-match .opponent {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

#dashboard-team .team-match .divider {
  padding: 0;
  border: none;
  height: 2px;
  background: var(--light-color);
}

#dashboard-team .team-match .win {
  font-weight: 900;
  color: #00a700;
}

#dashboard-team .team-match .loss {
  font-weight: 900;
  color: #d10000;
}

#dashboard-team .team-match .circle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  #dashboard-team .team-match {
    width: 100%;
  }
}