/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      @if ($i* $i + $j* $j < $stroke * $stroke ){
        $shadow: append($shadow, $i * 1px $j * 1px 1px $color, comma);
      }
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

* {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #212121;
  font-family: $montserrat;
  overflow-x: hidden;
  color: white;
  background-color: $primary-background;
}

a {
  color: $primary-color;
}

p {
  line-height: 1.4em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul > li,
ol > li {
  margin-bottom: 8px;
}

main {
  flex-grow: 1;
}


main.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .page-padding {
    padding: 2em 1em;
  }
}

.accent {
  color: $primary-color;
  font-weight: 700;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.gold-icon {
  color: #ffae00;
}

.green-icon {
  color: #00a700;
}

.red-icon {
  color: #d10000;
}

.Toastify__toast {
  background: #fff;
  color: #212121;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $accent-color;
  }
}

.Toastify__toast--success {
  color: #00cb00;
}

.Toastify__toast--error {
  color: #f00;
}

.Toastify__toast--warning {
  color: #f09000;
}

.Toastify__toast--info {
  color: #0096fa;
}

.Toastify__toast-body {
  margin: auto 15px auto 5px;
}

.Toastify__close-button {
  color: #888;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: $primary-background;
  color: white;
  p {
    font-size: 1.5em;
    font-weight: bold;
  }
}