$primary-color: #8767aa;
$secondary-color: #ac6aca;
$superposed-color: #ba78d4;
$light-color-alt: #efd6e7;
$blue-color: #cbd7ef;
$accent-color: #1aa6b7;
$light-color: #ccc;
$dark-color: #29292a;
$gradient: linear-gradient(135deg, $accent-color 15%, $dark-color 85%);
$ua-font: 'LemonMilk', sans-serif;

$buttonLength: 2px;
$buttonRadius: 6px;

$background: #002D40
