@import 'variables.scss';

/** Export colors for TS **/
:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    tertiaryColor: $tertiary-color;
    accentColor: $accent-color;
    filterColor: $filter-color;
    lightColor: $light-color;
    darkColor: $dark-color;
    primaryBackground: $primary-background;
    secondaryBackground: $secondary-background;
}
