/** Main Colors **/
$primary-color: #f5b7c7;
$secondary-color: #2E82B7;
$accent-color: #66C4AB;
$filter-color: #1aa6b7;

$light-color: #fff;
$dark-color: #29292a;
$light-pink-button-color: #f5ecb7;

/** Background **/
$primary-background: #17124A;
$secondary-background: #171a69;

$gradient: linear-gradient(135deg, $filter-color 15%, $dark-color 85%);

/** Fonts **/
$agenor: var(--font-agenor);
$kanit: var(--font-kanit);