/** Main Colors **/
$primary-color: #66c4ab;
$secondary-color: #f5b7c7;
$accent-color: #f5b7c7;

$light-color: #d9ecf2;
$dark-color: #29292a;
$light-pink-button-color: #f5b7c7;

/** Background **/
$primary-background: #15191c;
$secondary-background: #687277;

$gradient: linear-gradient(135deg, $accent-color 15%, $dark-color 85%);

/** Fonts **/
$montserrat: var(--font-montserrat);
$lexend: var(--font-lexend);
