$primary-color: #f1737f;
$secondary-color: #006492;
$superposed-color: #8d485d;
$accent-color: #fbb464;
$light-color: #ccc;
$dark-color: #202020;
$gradient: linear-gradient(135deg, $primary-color 15%, $secondary-color 85%);
$ua-font: 'UA_Title', sans-serif;

