@import '@/variables.scss';

.helpContainer {
  padding: 5rem 0;

  * {
    scroll-margin-top: 80px;
  }

  .faq, .contact {
    width: clamp(300px, 80%, 1200px);
    margin: auto;

      .darkBackground {
        color: $primary-color;
      }
  }

  .faq {
    margin-bottom: 3rem;

    .category {
      padding-bottom: 2rem;

      .categoryTitle {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        font-family: $kanit;
        margin: 1rem 0;
      }

      .answer {
        padding-bottom: 0.5rem;
      }
    }
  }
}
