.button {
  display: inline-block;
  border: 2px solid $light-color;
  margin: 0%;
  border-radius: 0;
  padding: 8px 20px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s, color 0s;
  transform: translate(-$buttonLength, -$buttonLength);

  &.primary {
    color: unset;
    border: none;
    padding: 10px 22px;
    background: $superposed-color;
    font-weight: bolder;
    border-radius: $buttonRadius 0 $buttonRadius 0;
  }

  &.no-style {
    border: none;
    background: none;
    font-size: 1em;
    padding: 8px;
    margin: 0;
  }

  &:not(.empty) {
    .button-icon-left {
      margin-right: 8px;
    }

    .button-icon-right {
      margin-left: 8px;
    }
  }
}

.buttonWrapper {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px 0 5px;

  &.primary {
    margin: 10px auto;
    color: white;
    filter: brightness(1);
  }

  &:hover {
    cursor: pointer;
    filter: brightness(1);
    color: $accent-color;
  }

  &.disabled {
    filter: grayscale(0.1) brightness(0.8);
    cursor: default;
  }
}

.topButtonDiv {
  display: inline-block;
  box-sizing: border-box;

  &.primary {
    &:not(.no-style) {
      border-radius: $buttonRadius;
      background-color: $primary-color;
      transition: all 0.3s, color 0s;
      transform: translate(-$buttonLength, -$buttonLength) scale(1);
    }
  }
}

.bottomButtonDiv {
  display: inline-block;
  box-sizing: border-box;
  &:not(.no-style).primary {
    border-radius: $buttonRadius;
    padding: $buttonLength;
    background-color: $secondary-color;
    transition: all 0.3s, color 0s;
    transform: translate(2 * $buttonLength, 2 * $buttonLength) scale(1);
  }
}

.disabled {
  pointer-events: none;
}
