.button {
  display: inline-block;
  border: 2px solid $light-color;
  margin: 0%;
  border-radius: 0;
  padding: 8px 20px;
  background: #fff;
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s, color 0s;
  text-transform: uppercase;

  &.primary {
    color: unset;
    border: none;
    padding: 10px 22px;
    background-color: $accent-color;
    transition: all 0.25s ease-in-out;

    &::before {
      content: '';
      background-color: $light-color-alt;
      width: 95%;
      height: 98%;
      position: absolute;
      left: -3px;
      top: 0;
      z-index: -1;
      transform: rotate(2deg);
      transition: all 0.25s ease-in-out;
    }

    &::after {
      content: '';
      background-color: #beceea;
      width: 95%;
      height: 95%;
      position: absolute;
      right: -4px;
      top: 0;
      z-index: -1;
      transform: rotate(-1.5deg);
      transition: all 0.25s ease-in-out;
    }

    &:hover {
      background-color: $superposed-color;

      &::before {
        transform: rotate(0);
        left: 0;
      }
      &::after {
        transform: rotate(0);
        right: 0;
      }
    }
  }

  &.no-style {
    border: none;
    background: none;
    font-size: 1em;
    padding: 8px;
    margin: 0;
  }

  &:not(.empty) {
    .button-icon-left {
      margin-right: 8px;
    }

    .button-icon-right {
      margin-left: 8px;
    }
  }
}

.buttonWrapper {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px 0 5px;

  &.primary {
    margin: 10px auto;
    color: white;
    filter: brightness(1);
  }

  &:hover {
    cursor: pointer;
    filter: brightness(1);
  }

  &.disabled {
    filter: grayscale(0.5) brightness(0.7);
    cursor: default;
  }
}

.disabled {
  pointer-events: none;
}
