.card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 1em 0;
  background-color: #fff;

  &.dark {
    background-color: $dark-color;
    color: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $gradient;
  }

  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  .card-button {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    margin: 0 auto;
  }

  .card-content {
    padding: 0 1em;
    flex: 1;
  }
}
