@import '@/variables.scss';

.checkbox {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  user-select: none;
  align-items: center;
  gap: 0.5em;

  & > * {
    display: inline-block;
    flex: 1 1 auto;
  }

  & > input {
    height: 16px;
    width: 16px;
    visibility: hidden;
    position: absolute;
    top: 0;
  }

  & > input,
  & > input + .ui {
    flex: 1 0 auto !important;
  }

  & > input + .ui {
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 2px !important;
    outline: 2px solid $accent-color;
    overflow: hidden;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background-color: $accent-color;
      display: block;
      opacity: 0.2;
      transition: translate 0.5s cubic-bezier(0.34, 0, 0, 1.75), opacity 0.35s ease-in-out;
      translate: 16px 0;
      clip-path: path('M11.2 4.267a1.6 1.6 0 0 0-1.6.533L6.933 9.067l-1.066-1.6A1.6 1.6 0 1 0 3.734 9.6l2.667 2.667a1.067 1.067 0 0 0 1.067.533 1.6 1.6 0 0 0 1.067-.533l3.2-5.867a1.6 1.6 0 0 0-.533-1.6z');
    }
  }

  & > input:checked + .ui::before {
    opacity: 1;
    translate: 0;
  }
}
