.collapse {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin-bottom: 1em;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;

  &::after {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: $light-color;

    &:not(.active):after {
      width: 0;
    }
  }

  .collapse-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-family: $montserrat;

    .left {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .right > button {
      padding: 6px;
      border-radius: 50%;
      background-color: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      opacity: 0;

      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .collapse-content {
    overflow: hidden;
    padding: 0 1em;
    transition: all 0.3s;
    line-height: 1.4em;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: 1em;
      background: #c8c8c8;
    }

    &::after {
      content: '';
      display: block;
      height: 1em;
    }
  }

  .collapse-arrow {
    margin-left: 0.5em;
    transform: rotate(0deg);
    transition: all 0.3s;
    width: 24px;
    height: 24px;
  }

  &.active .collapse-arrow {
    transform: rotate(180deg);
  }
}
