.countdown {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
  width: 100%;

  > div {
    display: block;
  }

  h1,
  h2 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    color: $accent-color;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .countdown {
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 400px) {
  .countdown .seconds {
    display: none;
  }
}
