.helper {
  display: inline-block;
  position: relative;

  .helper-icon {
    transition: all 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  .helper-content {
    position: absolute;
    left: calc(100% + 16px);
    top: calc(50% - 2px);
    transform: translateY(-50%);
    width: max-content;
    max-width: 250px;
    padding: 10px 16px;
    background: rgba(50, 50, 50, 0.9);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
      border: 8px solid transparent;
      border-right: 8px solid rgba(50, 50, 50, 0.9);
    }
  }

  .helper-icon:hover + .helper-content {
    visibility: visible;
    opacity: 1;
  }
}
