.input,
.select,
.textarea,
.rich-textarea {
  display: block;
  position: relative;
  margin: 14px 0;
  width: 100%;
}

.input .input-label,
.select .select-label,
.textarea .textarea-label,
.rich-textarea .rich-textarea-label {
  display: block;
  padding-bottom: 2px;
  color: #858585;
  user-select: none;
}

.input input,
.select select,
.textarea textarea,
.rich-textarea-editor {
  width: calc(100% - 16px);
  border: none;
  border-radius: 0;
  padding: 8px;
  background: #fff;
  font-size: 1em;
}

.input input,
.select select,
.textarea textarea,
.rich-textarea > .wrapper:not(.discreet) .rich-textarea-editor {
  font-family: 'Roboto', sans-serif;
}

.select select {
  width: 100%;
}

.textarea textarea,
.rich-textarea .rich-textarea-editor {
  resize: vertical;
  height: 100px;
  min-height: 50px;
}

.rich-textarea-editor:hover {
  cursor: text;
}

.input .line,
.select .line,
.textarea .line,
.rich-textarea .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c8c8c8;
}

.input .line::after,
.select .line::after,
.textarea .line::after,
.rich-textarea .line::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: $accent-color;
  opacity: 0;
  transition: all 0.3s;
}

.input input:focus + .line::after,
.select select:focus + .line::after,
.textarea textarea:focus + .line::after,
.rich-textarea .rich-textarea-editor:focus + .line::after {
  opacity: 1;
}
