
#loader {
  transform-origin: 50% 65%;
  stroke: white;
  stroke-width: 2px;
  fill: #083240;
  width: 100px;
  height: 100px;
}

#loader path {
  stroke-dasharray: 400;
  animation: dash 2.5s both cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 800;
  }
}