@import '@/variables.scss';

.modal {
  &:not(.active) {
    pointer-events: none;
  }

  /*.input .inputLabel, .textarea .textareaLabel {
    color: black;
  }*/

  .modalOverflow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    z-index: 999;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32, 32, 32);
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  &:not(.active) .modalOverlay {
    opacity: 0;
  }

  .modalContainer {
    display: table;
    position: relative;
    margin: 160px auto 40px auto;
    width: 400px;
    max-width: 100%;
    background: #f5f5f5;
    box-shadow: 0 3px 10px #2e2e2e;
    z-index: 999;
    border-radius: 10px;
    transition: scale 0.3s cubic-bezier(.18,.89,.32,1.28);
  }

  &:not(.active) .modalContainer {
    scale: 0;
    transition: scale 0.3s cubic-bezier(.6,-0.28,.74,.05);
  }

  .modalContent {
    padding: 0 20px 20px 20px;
    color: #000;
  }

  .modalTitle {
    text-align: center;
    font-family: $montserrat;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin: 14px 40px 30px 40px;
  }

  .modalCloseButton {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      background: #aaa;
      height: 2px;
      width: 22px;
      border-radius: 2px;

      &:nth-child(1) {
        transform: translate(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%) rotate(-45deg);
      }
    }
  }

  .divider {
    width: calc(100% - 10px);
    border-radius: 99px;
    margin: 0 auto;
  }

  .modalButtons {
    margin: 0 20px 14px 0;
    text-align: right;
  }

  & .okButton.buttonWrapper {
    margin-left: 5px;
  }
}

@media screen and (max-width: 450px) {
  .modal .modalContainer {
    width: calc(100vw - 50px);
  }
}
