.parallax {
  position: relative;
  width: 100%;
  height: 1000px;

  div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-size: 5%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &.layer-0 {
      background-image: url("../../../public/images/parallax/layer-0.png");
      animation-duration: 6s;
      animation-name: slide-0;
      @keyframes slide-0 {
        from {
          background-position-x: 0;
        }

        to {
          background-position-x: 91px;
        }
      }
    }

    &.layer-1 {
      background-image: url("../../../public/images/parallax/layer-1.png");
      animation-duration: 3s;
      animation-name: slide-1;
      @keyframes slide-1 {
        from {
          background-position-x: 0;
        }

        to {
          background-position-x: 92px;
        }
      }
    }
  }

}