.radio {
  .radio-label {
    padding-bottom: 2px;
    color: #858585;
    user-select: none;
  }

  .radio-container {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
  }

  &.row {
    .radio-container {
      flex-direction: row;
    }

    label {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }

  input {
    &[type='radio'] {
      display: none;
    }

    + .radio-value {
      display: inline-block;
      position: relative;
      color: transparent;
      text-align: center;
      height: 18px;
      width: 18px;
      line-height: 18px;
      font-size: 14px;
      margin: 0 5px 0 0;
      z-index: 0;
      cursor: pointer;
    }

    &[disabled] {
      + .radio-value {
        cursor: not-allowed;
      }

      + .radio-value::before {
        filter: grayscale(0.1) brightness(0.7);
      }
    }

    &:checked {
      + .radio-value {
        color: #fff;
      }

      + .radio-value::before {
        background: $accent-color;
      }
    }

    + .radio-value::before {
      content: '';
      position: absolute;
      top: -0.5px;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 50%;
      background: #cbcbcb;
      opacity: 1;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .radio {
    .radio-container{
      display: unset;
    }

    &.row {
      label {
        padding-bottom: 10px;
      }
    }
  }
}
