@import '@/variables.scss';

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1em 0;
  width: 300px;
  height: 300px;
  background-color: $secondary-background;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  gap: 1rem;

  &.long {
    width: clamp(300px, 100%, 450px);
    max-width: 450px;
    min-height: 300px;
    height: initial;
    padding: 1rem;
  }

  .text {
    font-size: 0.925rem;
    font-weight: 500;
    line-height: 1.5;
    color: white !important;
    text-decoration: none !important;
    white-space: pre-wrap;
  }

  &.dark {
    background-color: $dark-color;
    color: #fff;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-in-out;
    user-select: none;
    pointer-events: none;
  }

  &:hover {
    img {
      transform: scale(1.1);
      filter: brightness(90%);
    }
  }
}
