.tabs .tabs-nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow-x: auto;
}

.tabs .tabs-nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--light-color);
}

.tabs .tabs-nav .tab-nav {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  background: none;
  font-size: 1em;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  min-width: max-content;
}

.tabs .tabs-nav .tab-nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--gradient);
  opacity: 0;
  z-index: 1;
  transition: all .3s;
}

.tabs .tabs-nav .tab-nav.active {
  color: var(--accent-color);
}

.tabs .tabs-nav .tab-nav.active::after {
  opacity: 1;
}

.tabs .tab-content {
  padding: 10px 0;
}

.tabs .tab-content:not(.active) {
  display: none;
}