$length: 4px;
$doubleSize: 8px;
$tenPlusLength: 13px;
$tenMinusLength: 7px;
$radius: 8px;

.title {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

  &.gutterBottom {
    margin-bottom: 1em;
  }

  &.center {
    text-align: center;
  }

  &.inherit {
    text-align: inherit;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.justify {
    text-align: justify;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.title-1 {
    font-family: $ua-font;
    text-transform: uppercase;
    overflow: hidden;
    color: $secondary-color;
    position: relative;

    .title-content {
      display: inline-block;
      position: relative;
      background: #f5f5f5;
      padding: 14px;
      transform: translate(-$length, -$length);
      border-radius: $radius 0 $radius 0;
      //box-shadow: 0 0 10px 6px #f5f5f5;
    }

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 20px);
      height: 3px;
      top: 40%;
      left: 0;
      border-bottom: dotted 10px $accent-color;
      margin: 0 10px;
    }
  }

  &.title-2 {
    font-weight: 400;
    font-size: 2rem;
  }

  &.title-3 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  &.title-4 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}

.title-wrapper {
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
  position: sticky;
  border: solid #f5f5f5 15px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 650px) {
  .title.title-1 {
    font-size: 1rem;
  }
}
