.title {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

  &.gutterBottom {
    margin-bottom: 1em;
  }

  &.center {
    text-align: center;
  }

  &.inherit {
    text-align: inherit;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.justify {
    text-align: justify;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.title-1 {
    overflow: hidden;
    color: $accent-color;
    position: relative;

    .title-content {
      display: inline-block;
      position: relative;
      background: #f5f5f5;
      padding: 0 20px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      background: $gradient;
    }
  }

  &.title-2 {
    font-weight: 400;
    font-size: 2rem;
  }

  &.title-3 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  &.title-4 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}
